/*Space mono*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
/*Press Start 2P*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color:#07051c;
    font-family: 'Space Mono', monospace;
}
* {
    font-size: 100%;
    box-sizing: border-box;
}
.header{
    margin: auto;
    text-align: center;
    position:relative;
    top: 20%;
    left:0;right:0;

    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color:rgb(255, 255, 255);
}


/*Centering issue solved by 0b10011*/
/* https://stackoverflow.com/questions/8811427/trying-to-center-div-horizontally-and-vertically-in-screen*/
.search-container{
    max-width: 600px;
    margin:auto;
    position:relative;
    top:25%;bottom:0;
    left:0;right:0;
}


.search-container .search{
    background:transparent;
    width: 100%;
    border-radius: 5px;
    /*box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, .12);*/
}
.search-container .search.active{
    background: rgb(255, 255, 255);
    width: 100%;
    border-radius: 5px;
    /*box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, .12);*/
}


.search input{
    height:50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 120%;
    font-family: inherit;
}


.search .auto-complete-area{
    padding: 0px 0px;
    max-height: 300px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}
.search.active .auto-complete-area{
    padding: 0px 0px;
    max-height: 300px;
    overflow-y: auto;
    opacity: 1;
    pointer-events: auto;
}
.auto-complete-area li{
    list-style: none;
    padding: 15px 10px;
    width: 100%;
    cursor: default;
    border-radius: 5px;
    display: none;
    transition: .2s;
}
.search.active .auto-complete-area li{
    display: block;
}
.auto-complete-area li:hover{
    background:rgb(225, 225, 225);
    border-radius: 0px;
}