/*Poppins font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color:#07051c;
}
* {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   }
.search-container{
    position: flex;
    max-width: 600px;
    margin:0 auto; 
    /*center vertically*/
}
.search-container .search{
    background:transparent;
    width: 100%;
    border-radius: 5px;
    /*box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, .12);*/
}
.search-container .search.active{
    background: rgb(255, 255, 255);
    width: 100%;
    border-radius: 5px;
    /*box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, .12);*/
}

.search input{
    height:50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 150%;
}

.search .auto-complete-area{
    padding: 0px 0px;
    max-height: 300px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}
.search.active .auto-complete-area{
    padding: 0px 0px;
    max-height: 300px;
    overflow-y: auto;
    opacity: 1;
    pointer-events: auto;
}
.auto-complete-area li{
    list-style: none;
    padding: 15px 10px;
    width: 100%;
    cursor: default;
    border-radius: 5px;
    display: none;
    transition: .2s;
}
.search.active .auto-complete-area li{
    display: block;
}
.auto-complete-area li:hover{
    background:rgb(225, 225, 225);
    border-radius: 0px;
}