<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" contents="IE=edge">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <link rel="stylesheet" href="ListingStyle.css">
        <link href="/favicon.ico" type="image/x-icon" rel="icon" />
    </head>
    <body style="margin: 0;">
        <div class="header">
            <h1>Follow up</h1>
            <p id="temp"></p>
        </div>
    </body>
    <script src="./search/search_list.js"></script>
    <script src="./search/searched.js"></script>
</html>